@page
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Segment</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Segment.Id"/>
            <div class="form-group">
                <label asp-for="Segment.Start" class="control-label"></label>
                <input asp-for="Segment.Start" class="form-control"/>
                <span asp-validation-for="Segment.Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Segment.Length" class="control-label"></label>
                <input asp-for="Segment.Length" class="form-control"/>
                <span asp-validation-for="Segment.Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Segment.Description" class="control-label"></label>
                <input asp-for="Segment.Description" class="form-control"/>
                <span asp-validation-for="Segment.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Segment.Type" class="control-label"></label>
                <select asp-for="Segment.Type" class="form-control"></select>
                <span asp-validation-for="Segment.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Segment.Rights" class="control-label"></label>
                <input asp-for="Segment.Rights" class="form-control"/>
                <span asp-validation-for="Segment.Rights" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Segment.MaterialId" class="control-label"></label>
                <select asp-for="Segment.MaterialId" class="form-control" asp-items="ViewBag.MaterialId"></select>
                <span asp-validation-for="Segment.MaterialId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}