@page
@model IndexModel

@{
    ViewBag.Title = "Segments";
}
<h1>@ViewBag.Title</h1>


<div id="app"></div>

@section Scripts {

    <partial name="_SegmentListItem" />
    <partial name="_SegmentCreate" />

    <script type="text/x-template" id="app-template">
        <p>
            <segment-create v-on:segmentCreated="createSegment($event)"></segment-create>
        </p>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>Start</th>
                    <th>Length (in seconds)</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Rights</th>
                    <th>Material</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <segment-list-item v-for="segment in segments" :key="segment.id" :segment="segment" v-on:segmentDeleted="deleteSegment($event)"></segment-list-item>
            </tbody>
        </table>
    </script>
    <script type="text/javascript">
        const { createApp } = Vue;

        const app = createApp({
            template: '#app-template',
            components: {
                'segment-create': SegmentCreate,
                'segment-list-item': SegmentListItem
            },
            data() {
                return {
                    segments: []
                };
            },
            async mounted() {
                try {
                    const response = await fetch('/api/Segments');
                    const data = await response.json();
                    this.segments = data;
                } catch (error) {
                    console.log(error);
                }
            },
            methods: {
                async createSegment(segment) {
                    const response = await fetch(
                        "/api/Segments",
                        {
                            method: "post",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify(segment)
                        }
                    );
                    const stored = await response.json();
                    console.log(stored);
                    this.segments.push(stored);
                },
                async deleteSegment(id) {
                    const response = await fetch(
                        `/api/Segments/${id}`,
                        {
                            method: "delete"
                        }
                    );
                    if (response.status === 204) {
                        this.segments = this.segments.filter(segment => segment.id !== id);
                    }
                }
            }
        });

        app.mount('#app');
    </script>
}
